body {
	  background-color: #FFEE99;
	  text-align: center;
	  font-family: "Trebuchet MS", "Helvetica CY", sans-serif;
	}
#headerDiv	{
		color: #E33B3B;
		font-size:  24pt;
		margin: 0 0 10px 0;
	}
#loginDiv	{
		color: #214B52;
		font-size:  14pt;
		line-height: 42px;
	}	
#loginDiv  input[type="text"] {
		border: 1px solid #4DDBB8; /*цвет рамки*/
		padding: 0;
		border-radius: 5px; /*закругление углов (общее)*/
		-webkit-border-radius: 5px; /*закругление углов (Google Chrome)*/
		-moz-border-radius: 5px; /*закругление углов (FireFox)*/
		-khtml-border-radius: 5px; /*закругление углов (Safari)*/
		background: #FFEE99 !important; /* желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
		outline: none; /* удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
		height: 42px; /* высота на свое усмотрение*/
		width: 160px; /* ширина на свое усмотрение*/
		color: #214B52; /*цвет шрифта в обычном состоянии*/
		font-size:  14pt; /* Размер шрифта*/
	}
.startGame {
	background-color:#E33B3B;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #4DDBB8;
	cursor:pointer;
	color:#FFEE99;
	font-size:14pt;
	height: 44px;
	width: 84px; 
	text-decoration:none;
	}
.startGame:hover {
	background-color:#FA472C;
	}
.startGame:active {
	position:relative;
	top:1px;
	}
#outputDiv	{
        display: none;
		color: #214B52;
		font-size:  14pt;
		line-height: 44px;
		height: 44px;	
	}	
#footerDiv	{
		margin-top: 10px;
		color: #214B52;
	}
